name: Continuous Training

on:
  pull_request:
    branches: [develop]
    types: [closed] # solo cuando el PR se cierra (merge o cerrado)

env:
  GCP_PROJECT_ID: ${{ vars.GCP_PROJECT_ID }}
  GCP_REGION: ${{ vars.GCP_REGION }}
  BUCKET_NAME: ${{ vars.BUCKET_NAME }}

jobs:
  trigger-training:
    # Solo correr si el PR fue mergeado y la branch origen es feature/*
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'feature/')
    
    environment: DEV
    runs-on: ubuntu-latest
    container:
      image: python:3.12-slim
      
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
          apt-get update && apt-get install -y curl

      - name: Debug secrets
        run: echo "GCP_SA_KEY is set to ${GCP_SA_KEY != ''}"

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Submit Custom Job to Vertex AI
        run: |
          gcloud ai custom-jobs create \
            --project="${{ vars.GCP_PROJECT_ID }}" \
            --region="${{ vars.GCP_REGION }}" \
            --display-name="ct-onnx-train-${{ github.event.pull_request.number }}-${{ github.run_id }}" \
            --labels=vars=dev,workflow=continuous-training \
            --worker-pool-spec=""" 
              machine-type=n1-standard-4,
              replica-count=1,
              executor-image-uri=us-docker.pkg.dev/vertex-ai/training/python-cpu:latest,
              local-package-path=.,
              script=train.py,
              container-spec={
                env=[
                  {name=BUCKET_NAME, value=${{ vars.BUCKET_NAME }}},
                  {name=PROJECT_ID, value=${{ vars.GCP_PROJECT_ID }}},
                  {name=MODEL_SECRET_KEY, value=${{ secrets.MI_API_SECRET }}},
                  {name=COMMIT_SHA, value=${{ github.sha }}}
                ]
              }
            """