name: Continuous Training

on:
  push:
    branches: [develop]
    paths: 
      - 'challenge/model.py'
      - 'data/**'

env:
  GCP_PROJECT_ID: ${{ env.GCP_PROJECT_ID }}
  GCP_REGION: ${{ env.GCP_REGION }}
  BUCKET_NAME: ${{ env.BUCKET_NAME }}

jobs:
  trigger-training:
    runs-on: ubuntu-latest
    # Usamos imagen ligera para el orquestador (GitHub)
    container:
      image: python:3.12-slim
    
    if: startsWith(github.head_ref, 'feature/')
    
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Instalamos curl
      - name: Install System Dependencies
        run: |
          apt-get update && apt-get install -y curl

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Submit Custom Job to Vertex AI
        run: |
          gcloud ai custom-jobs create \
            --project="${{ env.GCP_PROJECT_ID }}" \
            --region="${{ env.GCP_REGION }}" \
            --display-name="ct-onnx-train-${{ github.event.pull_request.number }}-${{ github.run_id }}" \
            --labels=env=dev,workflow=continuous-training \
            --worker-pool-spec="""
              machine-type=n1-standard-4,
              replica-count=1,
              executor-image-uri=us-docker.pkg.dev/vertex-ai/training/python-cpu:latest,
              local-package-path=.,
              script=train.py,
              container-spec={
                env=[
                  {name=BUCKET_NAME, value=${{ env.BUCKET_NAME }}},
                  {name=PROJECT_ID, value=${{ env.GCP_PROJECT_ID }}},
                  {name=MODEL_SECRET_KEY, value=${{ secrets.MI_API_SECRET }}},
                  {name=COMMIT_SHA, value=${{ github.sha }}}
                ]
              }
            """